langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
langchain-text-splitters
python-dotenv
langchain-openai
chromadb
sentence_transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-ollama
beautifulsoup4
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
pydantic
PyMuPDF
langgraph
openai-agents
asyncio
sendgrid==6.12.3
mcp[cli]